[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sara/Desktop/Old Firefox Data]
row=0
col=0

[/home/sara/Desktop/python]
row=1
col=0

[/home/sara/Desktop/pass]
row=2
col=0

[Trash]
row=3
col=0

[/home/sara]
row=4
col=0

